[Unit]
Description=Enlightenment service
After=display-manager-run.service
Requires=display-manager-run.service

[Service]
Type=notify
Environment="DISPLAY=:0.0" "HOME=%h" "E_START=enlightenment"
ExecStart=/usr/bin/enlightenment
NotifyAccess=all

[Install]
WantedBy=graphical.target
