[Unit]
Description=Display manager run service

[Service]
Type=notify
NotifyAccess=all
EnvironmentFile=/etc/sysconfig/enlightenment
ExecStart=/usr/bin/enlightenment
ExecStartPost=/usr/bin/touch /run/.wm_ready
Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target
