[Unit]
Description=Enlightenment display daemon
Requires=dbus.service
After=dbus.service

[Service]
Environment="E_START=englithenment" "XDG_RUNTIME_DIR=/tmp"
Type=notify
ExecStart=/usr/bin/enlightenment
NotifyAccess=all
Restart=always
RestartSec=10
StandardInput=tty
TTYPath=/dev/tty7

[Install]
WantedBy=graphical.target
