[Unit]
Description=Display manager setup service
Requires=display-manager-run.service
After=display-manager-run.service

[Service]
Type=oneshot
ExecStart=/usr/bin/chmod g+w /tmp/wayland-0
ExecStart=/usr/bin/chgrp display /tmp/wayland-0
ExecStart=/usr/bin/chsmack -a User /tmp/wayland-0

[Install]
WantedBy=graphical.target
