[Unit]
Description=Enlightenment daemon
Requires=dbus.service
After=dbus.service

[Service]
Type=notify
NotifyAccess=all
EnvironmentFile=/etc/sysconfig/enlightenment
ExecStart=/usr/bin/enlightenment
Restart=always
RestartSec=10
#StandardInput=tty
#TTYPath=/dev/tty7

[Install]
WantedBy=graphical.target
